
.row{
   background-color:#fff;
  
}
body{
  background-color:#000;
  
}
#mainContent{
  background-color:#fff;
  
  
}
.navbar .container{
  width:100%;
  padding-left:0%;
	padding-right:0%;
}

.navbar{
	width:103%;
  right:1.5%;
}

@media screen and (min-width: 1024px) {
    .row{
       width:1024px;     
      
    }
    
    #mainContent{
        
        width:1024px;
    }
}