<body>
 <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h3>Tealeaf Academy Todo</h3>
        </div>
        <div class="col-xs-9">
          
          Test
        </div>
      </div>
 </div>
<script>
  // A $( document ).ready() block.
$( document ).ready(function() {
   $("#jq").text("Jquery working");
});

  
</script>

<h1>Micah's Movie Collection</h1>

<p id="jq">
  
  
</p>