      <div class="row">
            <div class="col-lg-12 splash">
              
              <%= link_to image_tag("moviemanager.png", :class => 'img-responsive splash'), :action => 'index', :controller => 'movies' %>

            </div>
            
        </div>
        <!-- /.row -->

        <hr>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Add Movies</h2>
                <p>Adding movies to your collection has never been easier than this. All you have to do is select the movies tab from the main menu and then you will be brought to the movies list. From the movie list you will have multiple options that are described on this page. Select the Add Movie button on the movies list page and you can easily add movies to your collection.</p>
               
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Edit Movies</h2>
                    <p>Did you make a mistake while adding your favorite movie or maybe you added the wrong version of the movie you wanted to add to your collection. Perhaps the format selected was incorrect. Well editing movies is easy as one two three. Select the movies tab and click the edit link next to the movie you want to edit. Then edit the movie information and submit it and you are done!</p>
               
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Delete Movies</h2>
                <p>Deleteing new movies is easy. Just select movie from the main movie and then click on the delete movie link next to the movie you do not want in                      your collection.</p>
          </div>
            <!-- /.col-md-4 -->
</div>
        <!-- /.row -->