<body>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="main-content" class="col-xs-9">
          <!--  main content -->
        </div>
      </div>
    </div>
<script>
  // A $( document ).ready() block.
$( document ).ready(function() {
   $("#jq").text("Jquery working");
});

  
</script>

<h1>Micah's Movie Collection</h1>

<p id="jq">
  
  
</p>