<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Whizboo App</a>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="/sign_in">Sign In</a></li>
      </ul>
    </div>
  </div>
</div>
<script>
  // A $( document ).ready() block.
$( document ).ready(function() {
   $("#jq").text("Jquery working");
});

  
</script>

<h1>Micah's Movie Collection</h1>

<p id="jq">
  
  
</p>