<div class="row">
    <div class="col-md-4">
      col1
    </div>
    <div class="col-md-4">
      Col 2
    </div>
    <div class="col-md-4">
      Col 3
    </div>
</div>
<script>
  // A $( document ).ready() block.
$( document ).ready(function() {
   $("#jq").text("Jquery working");
});

  
</script>

<h1>Micah's Movie Collection</h1>

<p id="jq">
  
  
</p>