<script>
  // A $( document ).ready() block.
$( document ).ready(function() {
   $("#jq").text("Jquery working");
});

  
</script>

<h1>Micah's Movie Collection</h1>
<div class="row">
  <div class="span9">
    Level 1 column
    <div class="row">
      <div class="span6">Level 2</div>
      <div class="span3">Level 2</div>
    </div>
  </div>
</div>
<p id="jq">
  
  
</p>