<div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>Start with the Movie List</h1>
                      <p>Everything starts from the Movie List. From here you can view all the movies in your list. Add Movies to the list,Edit Movies on the list, and                         Delete movies on the list. You can sort by Title,rating,format,length or release year. Just select movies from the main menu and click on the                          heading you want to sort by. </p>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    I hope you enjoy the app! 
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Add Movies</h2>
                <p>Adding movies to your collection has never been easier than this. All you have to do is select the movies tab from the main menu and then you will be brought to the movies list. From the movie list you will have multiple options that are described on this page. Select the Add Movie button on the movies list page and you can easily add movies to your collection.</p>
               
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Edit Movies</h2>
                    <p>Did you make a mistake while adding your favorite movie or maybe you added the wrong version of the movie you wanted to add to your collection. Perhaps the format selected was incorrect. Well editing movies is easy as one two three. Select the movies tab and click the edit link next to the movie you want to edit. Then edit the movie information and submit it and you are done!</p>
               
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>Delete Movies</h2>
                <p>Deleteing new movies is easy. Just select movie from the main movie and then click on the delete movie link next to the movie you do not want in                      your collection.</p>
          </div>
            <!-- /.col-md-4 -->
</div>
        <!-- /.row -->