
.row{
   background-color:#fff;
  
}
body{
  background-color:#000;
  
}
#mainContent{
  background-color:#fff;
  
  
}
.navbar .container{
  width:100%;
  padding-left:0%;
	padding-right:0%;
}

.navbar{
	width:103%;
  right:1.5%;
  background-color:#fff;
  border-style:none;
  box-shadow:0px 3px 3px #888888
}

.navbar-inverse .navbar-nav > li > a{
	color:#000;
}

.nav a{
  font-weight:bold;
  
}
.nav a:hover { 
    background-color:#db2525 !important;
    font-size:17px;
}
.active{
   background-color:f48c58;

}
@media screen and (min-width: 1024px) {
    .row{
       width:1024px;     
      
    }
    
    #mainContent{
        
        width:1024px;
    }
}