
.splash{
  padding-left:0px !important;
  padding-right:0px !important;
  
}

h2{
  font-family:"Times New Roman", Times, serif;
  text-align:center;
  font-size:30px;
}
#movie {
  width: 670px;
}
#movie label.error {
  margin-left: 10px;
  width: auto;
  display: inline;
  color:red;
}

.directions{
   font-style: italic;
   font-size:10px;
  
}
.movieTitle{
  text-align:left !important;
}

a{
  color:#f79c6e;
  
}
a:hover{
  
  color:#f79c6e!important;
}
.row{
   background-color:#fff;
  
}
body{
  background-color:#000;
  
}


.btn-primary{
  color:#fff;
  background-color:#000;
  border-color:#000;
  margin-bottom:1%;
  width:12%;
  font-size:14px !important;
  text-align:center;
  font-weight:bold;
  float:right !important;
}

.btn-primary:hover{
  background-color:#db2525;
  color:#fff !important;
  border:red;
}
#mainContent{
  background-color:#fff;
  
  
}
.navbar .container{
  width:100%;
  padding-left:0%;
	padding-right:0%;
}

.navbar{
	width:103%;
  right:1.5%;
  background-color:#fff;
  border-style:none;
  box-shadow:0px 3px 3px #888888
}

.navbar-inverse .navbar-nav > li > a{
	color:#000;
}

.nav a{
  font-weight:bold;
  
}
.nav a:hover { 
    background-color:#db2525 !important;
    font-size:17px;
    color:#fff !important;
}
.active{
   background-color:f48c58;

}

table { 
color: #333 !important;
font-family: Helvetica, Arial, sans-serif !important;
width: 100%  !important; 
border-collapse  !important: 
collapse; border-spacing: 0  !important; 
}

td, th { 
border: 1px solid transparent  !important; /* No more visible border */
height: 30px  !important; 
transition: all 0.3s  !important;  /* Simple transition for hover effect */
}

th {
width 100% !important;
background: #f05050;  /* Darken header a bit */
font-weight: bold;
text-align:center;
}
th a{
  color:#fff !important;
  text-align:center;
  display:block;
}
th a:hover{
   color:#fff !important;
   text-decoration:none;
   
  
}
th:hover{
  background-color:#000;
 
}
td {
  background: #FAFAFA  !important;
  text-align: center  !important;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1  !important; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE  !important; }  


@media screen and (min-width: 1024px) {
    .row{
       width:1024px;     
      
    }
    h2{
      text-align:left;  
    }  
    #mainContent{
        
        width:1024px;
    }
}


